@import "tailwindcss";
@keyframes moveCursor {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(100px, 40px); }
    50% { transform: translate(50px, 120px); }
    75% { transform: translate(-20px, 80px); }
    100% { transform: translate(0px, 0px); }
  }
  
  .animate-cursor {
    animation: moveCursor 5s infinite ease-in-out;
  }